<footer class="footer">
  <div class="footer-list">
    <div class="footer-copyright">
      <span>Powered by Eugene &copy; 2018</span>
    </div>
    <div class="footer-social">
      <a class="footer-social-link" mat-button href="https://www.facebook.com/" target="_blank">
        <span class="mat-button-wrapper">
          <img class="footer-icon" src="./assets/img/social/facebook.svg" alt="facebook">
        </span>
      </a>
      <a class="footer-social-link" mat-button href="https://www.youtube.com/" target="_blank">
        <span class="mat-button-wrapper">
          <img class="footer-icon" src="./assets/img/social/youtube.svg" alt="youtube">
        </span>
      </a>
      <a class="footer-social-link" mat-button href="https://www.instagram.com/" target="_blank">
        <span class="mat-button-wrapper">
          <img class="footer-icon" src="./assets/img/social/instagram.svg" alt="instagram">
        </span>
      </a>
    </div>
  </div>
</footer>
