.navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    background: #262626;// #fff;
    color:#fff// rgba(0,0,0,.87);
}

.nav-logo-img {
    height: 42px;
}
.logo-icon {
    position: relative;
    cursor: pointer;
    outline: 0;
    border: none;
    white-space: nowrap;
    margin: 0;
    min-width: 88px;
    padding: 0 16px;
    overflow: visible;  
}