<nav class="navbar-header">
  <a class="nav-button logo-icon" href="/"  routerLink="/">
    <span class="mat-button-wrapper">
      <img src="./assets/img/homepage/Barbershop.svg" class="nav-logo-img"  alt="barber shop">
    </span>
  </a>
  <a class="nav-button" mat-button href="/"  routerLink="/">
    <span class="mat-button-wrapper">
      <span>Homepage</span>
    </span>
  </a>
  <a class="nav-button" mat-button href="/services"  routerLink="/services">
    <span class="mat-button-wrapper">
      <span>Burber Shop Services</span>
    </span>
  </a>
  <a class="nav-button" mat-button href="/barbers"  routerLink="/barbers">
    <span class="mat-button-wrapper">
      <span>Our Barbers</span>
    </span>
  </a>
  <a class="nav-button" mat-button href="/contact"  routerLink="/contact">
    <span class="mat-button-wrapper">
      <span>Contact Us</span>
    </span>
  </a>
  <div class="flex-spacer"></div>
  <a class="nav-button" color="accent" mat-raised-button href="/book"  routerLink="/book" routerLinkActive="active">
    <span class="mat-button-wrapper">
      <span>Book Online</span>
    </span>
  </a>
</nav>