<div class="book-header">
  <h1 class="book-header-title">Book Online</h1>
</div>
<mat-horizontal-stepper [linear]="isLinear">
  
  <mat-step [stepControl]="serviceFormGroup">
    <ng-template matStepLabel>Select Service</ng-template>
    <form [formGroup]="serviceFormGroup">
      <div *ngFor="let item of dataServices">
        <app-book-services  [item]="item" [form]="serviceFormGroup" ></app-book-services>
      </div>
    </form>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
    
  
  <mat-step [stepControl]="barbersFormGroup">
    <ng-template matStepLabel>Select Barber</ng-template>  
    <form [formGroup]="barbersFormGroup">
      <mat-radio-group class="book-servise" formControlName="barberId">
        <div *ngFor="let item of dataBarbers">  
          <app-book-barbers [item]="item" [form]="barbersFormGroup"></app-book-barbers>
        </div>
      </mat-radio-group>   
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      </form>
    </mat-step>

  <mat-step [stepControl]="dateFormGroup">
    <ng-template matStepLabel>Select Date</ng-template>
    <form [formGroup]="dateFormGroup">
      <app-book-date [form]="dateFormGroup"></app-book-date>
    </form>  
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="accent" (click)="orderService()">Book</button>
    </div>
     
    </mat-step>
  </mat-horizontal-stepper>
