<img class="services-main-img" src="./assets/img/services/services.jpg" alt="Barber Shop Services">

<mat-list class="services-list">
    <mat-list-item 
    
    *ngFor="let services of dataServices" 
    >
        <span class="services-title">{{services.title}}</span> 
        
        <span *ngIf="services.price!=0; else free" class="services-price">from ${{services.price[0]}}</span>
        <ng-template #free>
            <span class="services-price">Free</span>
        </ng-template>
        <span  class="services-duration">{{services.duration}} minutes</span>
    </mat-list-item>
</mat-list>
