
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/styles/mixins.scss";



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.flex-spacer {
  flex-grow: 1;
}

app-home,
app-services,
app-book,
app-page-not-found,
app-barbers {
  width: 100%;
}

.services-main-img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: block;
}

.services-list {
  width: 80%;
}

.services-title {
  font-weight: 500;
}
.services-price {
  margin-left: auto;
  color: #ff4081;
}
.services-duration {
  margin-left: 90px;
}

.book-servise {
  display: block;
  margin: 10px 0;
}
.book-services-price {
  margin-left: 80px;
  color: #ff4081;
}
.mat-checkbox-layout {
  width: 80%;
}
.mat-checkbox-label {
  width: 100%;
  display: flex;
}

.book-barbers-title {
  font-weight: 500;
  margin: 5px;
}